@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background: linear-gradient(89.89deg, #8b1490 0.44%, #47075e 99.81%);
  min-height: 745px;
  position: relative;
  padding-top: 45px;
  color: #fff;
  padding-bottom: 50px;
  &::after {
    content: "";
    background-image: url(../images/h.svg);
    position: absolute;
    width: 579px;
    height: 737px;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  &__tel {
    font-family: "Museo Sans Cyrl 700";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  &__mail {
    font-family: "Museo Sans Cyrl 500";
    font-size: 18px;
    line-height: 22px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 585px;
    width: 100%;
    margin-left: 20px;
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 556px;
    width: 100%;
    margin: 50px 0;
    &-item {
      display: flex;
      align-items: center;
    }
    &-text {
      max-width: 100px;
      margin-left: 16px;
    }
  }
  &__inner {
    max-width: 800px;
    width: 100%;
    position: absolute;
    padding-top: 75px;
    z-index: 2;
  }
  &__offer {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
    // justify-content: space-between;
  }
  &__title {
    font-family: "Museo Sans Cyrl 700";
    font-size: 42px;
    line-height: 50px;
    max-width: 792px;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-family: "Museo Sans Cyrl 300";
    font-size: 30px;
    line-height: 36px;
    max-width: 650px;
  }
  &__btns {
    display: flex;
    justify-content: start;
    margin-top: 80px;
  }
  &__btn {
    font-family: "Museo Sans Cyrl 700";
    font-size: 16px;
    line-height: 19px;
    margin-right: 120px;
    position: relative;
    &-text {
      background-color: $accent;
      padding: 20px 27px;
      color: #46004f;
    }
    &-price {
      position: absolute;
      font-family: "Museo Sans Cyrl 900";
      font-size: 21px;
      top: -38px;
      right: -80px;
      width: 95px;
      height: 95px;
      background-color: $accent;
      border: 6px solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
    }
  }
}
.stamp {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 100%;
}
.books-image {
  position: absolute;
  top: 47px;
  right: 0px;
  pointer-events: none;
  max-width: 926px;
  z-index: 1;
  img {
    object-fit: cover;
    object-position: 60px 0;
  }
}
.know {
  padding-top: 110px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(-7px 6px 28px rgba(62, 6, 65, 0.53));
  }
  &__item-img {
    max-width: 400px;
    min-height: 400px;
  }
  &__item-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(139, 20, 144, 0.5);
  }

  &__item-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    font-family: "Museo Sans Cyrl 700";
    font-size: 24px;
    line-height: 29px;
    color: #fff;
  }
}
.read {
  text-align: center;
  padding: 100px 0 100px;
  position: relative;
  &__slider {
    display: flex;
    justify-content: center;
  }

  .control-c {
    margin-top: -140px;
    cursor: pointer;
  }

  &__link {
    padding: 16px 100px;
    background-color: $accent;
    font-family: "Museo Sans Cyrl 700";
    font-size: 16px;
    line-height: 19px;
    color: #46004F;
    box-shadow: 4px 6px 14px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 100px;
    max-width: 406px;
    width: 100%;
  }
}
