@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background: linear-gradient(89.89deg, #8b1490 0.44%, #47075e 99.81%);
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 45px;
  color: #fff;
  &::after {
    content: "";
    background-image: url(../images/h.svg);
    position: absolute;
    width: 529.99px;
    height: 641.53px;
    background-repeat: no-repeat;
    right: -206px;
    bottom: -108px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  &__tel {
    font-family: "Museo Sans Cyrl 700";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  &__mail {
    font-family: "Museo Sans Cyrl 500";
    font-size: 18px;
    line-height: 22px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 585px;
    width: 100%;
    margin-left: 20px;
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 556px;
    width: 100%;
    margin: 50px 0;
    &-item {
      display: flex;
      align-items: center;
    }
    &-text {
      max-width: 100px;
      margin-left: 16px;
    }
  }
  &__inner {
    max-width: 800px;
    width: 100%;
    position: absolute;
    padding-top: 75px;
    z-index: 2;
  }
  &__title {
    font-family: "Museo Sans Cyrl 700";
    font-size: 42px;
    line-height: 50px;
    max-width: 792px;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-family: "Museo Sans Cyrl 300";
    font-size: 30px;
    line-height: 36px;
    max-width: 650px;
  }
  &__btns {
    display: flex;
    justify-content: start;
  }
  &__btn {
    font-family: "Museo Sans Cyrl 700";
    font-size: 16px;
    line-height: 19px;
    margin-right: 120px;
    position: relative;
    &-text {
      background-color: $accent;
      padding: 20px 27px;
      color: #46004f;
    }
    &-price {
      position: absolute;
      font-family: "Museo Sans Cyrl 900";
      font-size: 21px;
      top: -38px;
      right: -80px;
      width: 95px;
      height: 95px;
      background-color: $accent;
      border: 6px solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;

    }
  }
}
.stamp{
  padding-top: 50px;
  margin: 0 auto;
}
.books-image {
  position: absolute;
  top: 20px;
  right: -150px;
  pointer-events: none;
  z-index: 1;
}
